{% extends "::base.html.twig" %}
{% block body %}
    <p>interval</p>
    {{dump(interval)}}
    <p>New date</p>
    {{dump(newDate)}}
    <p>oldDate</p>
    {{dump(oldDate)}}
    <p>repeat</p>
    {{dump(repeat)}}
{% endblock %}
